.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -$list-group-border-width;
  background-color: $list-group-bg;

  // Round the first and last items
  &:first-child {
    @include border-top-radius($list-group-border-radius);
  }
  &:last-child {
    margin-bottom: 0;
    @include border-bottom-radius($list-group-border-radius);
  }
}

.side.list-group-item {
  border-radius: 0;
  border-left: 0 !important;
}

/* List */
.list li {
  margin-bottom: 13px;
}

.list.pull-left li {
  text-align: left;
}

.list.list-icons {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

.list.list-icons li {
  position: relative;
  padding-left: 25px;
}

.list.list-icons li .fa, .list.list-icons li .icons {
  position: absolute;
  left: 0;
  top: 5px;
}

.list.list-icons.list-icons-style-2 li {
  padding-top: 5px;
  padding-left: 36px;
}

.list.list-icons.list-icons-style-2 li .fa, .list.list-icons.list-icons-style-2 li .icons {
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 4px;
}

.list.list-icons.list-icons-style-3 li {
  padding-top: 5px;
  padding-left: 36px;
}

.list.list-icons.list-icons-style-3 li .fa, .list.list-icons.list-icons-style-3 li .icons {
  color: #FFF;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 5px;
}

.list.list-icons.list-icons-sm li {
  padding-left: 13px;
  margin-bottom: 5px;
}

.list.list-icons.list-icons-sm li .fa, .list.list-icons.list-icons-sm li .icons {
  font-size: 0.8em;
  top: 7px;
}

.list.list-icons.list-icons-sm.list-icons-style-2 li {
  padding-left: 32px;
}

.list.list-icons.list-icons-sm.list-icons-style-2 li .fa, .list.list-icons.list-icons-sm.list-icons-style-2 li .icons {
  width: 20px;
  height: 20px;
  padding: 3px;
}

.list.list-icons.list-icons-sm.list-icons-style-3 li {
  padding-left: 32px;
}

.list.list-icons.list-icons-sm.list-icons-style-3 li .fa, .list.list-icons.list-icons-sm.list-icons-style-3 li .icons {
  width: 20px;
  height: 20px;
  padding: 3px;
}

.list.list-icons.list-icons-lg li {
  padding-top: 5px;
  padding-left: 32px;
}

.list.list-icons.list-icons-lg li .fa, .list.list-icons.list-icons-lg li .icons {
  font-size: 1.5em;
}

.list.list-icons.list-icons-lg.list-icons-style-2 li {
  padding-top: 8px;
  padding-left: 42px;
}

.list.list-icons.list-icons-lg.list-icons-style-2 li .fa, .list.list-icons.list-icons-lg.list-icons-style-2 li .icons {
  width: 30px;
  height: 30px;
  padding: 4px;
}

.list.list-icons.list-icons-lg.list-icons-style-3 li {
  padding-top: 8px;
  padding-left: 42px;
}

.list.list-icons.list-icons-lg.list-icons-style-3 li .fa, .list.list-icons.list-icons-lg.list-icons-style-3 li .icons {
  width: 30px;
  height: 30px;
  padding: 4px;
}

.list.list-icons.list-icons-reverse li {
  text-align: right;
  padding-right: 25px;
  padding-left: 0;
}

.list.list-icons.list-icons-reverse li .fa, .list.list-icons.list-icons-reverse li .icons {
  position: absolute;
  left: auto;
  right: 0;
  top: 5px;
}

.list.list-icons.list-icons-reverse.list-icons-style-2 li {
  padding-right: 36px;
}

.list.list-icons.list-icons-reverse.list-icons-style-3 li {
  padding-right: 36px;
}

.list.list-icons.list-icons-reverse.list-icons-sm li {
  padding-left: 0;
  padding-right: 13px;
}

.list.list-icons.list-icons-reverse.list-icons-sm.list-icons-style-2 li {
  padding-right: 32px;
}

.list.list-icons.list-icons-reverse.list-icons-sm.list-icons-style-3 li {
  padding-right: 32px;
}

.list.list-icons.list-icons-reverse.list-icons-lg li {
  padding-left: 0;
  padding-right: 32px;
}

.list.list-icons.list-icons-reverse.list-icons-lg.list-icons-style-2 li {
  padding-right: 42px;
}

.list.list-icons.list-icons-reverse.list-icons-lg.list-icons-style-3 li {
  padding-right: 42px;
}

.list.list-borders li {
  border-bottom: 1px solid #DBDBDB;
  margin-top: 9px;
  margin-bottom: 0;
  padding-bottom: 9px;
}

.list.list-borders li:last-child {
  border-bottom: 0;
}

.list.list-side-borders {
  border-left: 1px solid #DBDBDB;
  padding-left: 10px;
}

.list.list-ordened {
  counter-reset: custom-counter;
  list-style: none;
}

.list.list-ordened li {
  position: relative;
  padding-left: 22px;
}

.list.list-ordened li:before {
  position: absolute;
  top: 0;
  left: 0;
  content: counter(custom-counter);
  counter-increment: custom-counter;
  font-weight: bold;
}

.list.list-ordened.list-ordened-style-2 li, .list.list-ordened.list-ordened-style-3 li {
  padding-left: 32px;
}

.list.list-ordened.list-ordened-style-2 li:before, .list.list-ordened.list-ordened-style-3 li:before {
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  min-width: 26px;
  padding: 0;
  text-align: center;
}

.list.list-ordened.list-ordened-style-3 li:before {
  color: #FFF;
  border: 0;
}

.list.list-unstyled {
  padding-left: 0;
  padding-right: 0;
}
