f.tab-content {
  box-shadow: none!important;
  border-bottom: 5px solid $gray-lightest!important;
  border-radius: 10px!important;
  font-weight: normal!important;
  padding: 30px!important;
}

.tab-featured-image .tab-content {
  padding: 0px!important;
}

.nav-tabs .nav-link {
  letter-spacing: .1em;
  text-transform: uppercase;
}

.nav-tabs-three > ul.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: transparent;
    border-bottom: 4px solid $brand-secondary !important;
}

.nav-tabs-three > ul.nav-tabs {
    margin-bottom: 20px;
    border-bottom-width: 2px;
    border-bottom-color: #e1e4e7;
}

.nav-tabs-three > ul.nav-tabs > li.active > a, .nav-tabs-three > ul.nav-tabs > li.active > a:hover, .nav-tabs-three > ul.nav-tabs > li.active > a:focus {
    background-color: transparent;
    border-bottom: 4px solid #85d6de !important;
}

.nav-tabs-three > ul.nav-tabs > li.active > a, .nav-tabs-three > ul.nav-tabs > li.active > a:hover, .nav-tabs-three > ul.nav-tabs > li.active > a:focus {
    color: #3D566E;
}

body {
    margin-top:60px;
    font-family: 'Lato',sans-serif;
}

.nav-tabs {
  border-bottom: 0px!important;
  position: relative;
  z-index: 0;
}
/* this is just for the demo */

.panel-heading:hover {
    cursor:pointer;
}
.panel-heading {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.side-tab {
    padding: .5em!important;
}

.side-tab:hover {
        cursor: pointer;
    }
    .panel.panel-default {
        border: none;
        box-shadow: none !important;
        border-radius: 10px 10px 0px 0px;

    }
    .panel-heading {
        border: none;
        background-color: $md-white;
        padding: 15px 15px 10px 15px;
    }
    .panel-body {
        background-color: #b1ea8f;
        padding: 20px;
        font-weight: light;
        border-radius: 0px 0px 5px 5px;
        border-bottom: 5px solid #eee;
    }
    .panel-title {
        font-weight: 300;
        color: #323232;
        font-size: 1.75em;
    }

/*----------------------------------
    Macbook pro mockup from:
    http://jaredhardy.com/minimal-devices/

----------------------------------*/

.md-macbook-pro {
  display: block;
  width: 55.3125em;
  height: 31.875em;
  font-size: 13px;
  margin: 0 auto;

  @media (max-width:1199px){
    font-size: 11px;
  }
  @media (max-width:1024px){
    font-size: 10px;
  }

  @media (max-width:767px){
    font-size: 7px;
    .md-lid {
     border-radius: 15px!important;
     }
  }

  @media (max-width:320px){
    font-size: 5px;
    .md-lid {
     border-radius: 15px!important;
     }
  }

}
.md-macbook-pro .md-lid {
  width: 45em;
  height: 30.625em;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 30px;
  border: solid 0.1875em #cdced1;
  background: #131313;
}
.md-macbook-pro .md-camera {
  width: 0.375em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: .6em;
  background: #323232;
  border-radius: 100%;
}
.md-macbook-pro .md-camera:after {
  content: "";
  display: block;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  left: 0.125em;
  top: 0.0625em;
  background: #353542;
  border-radius: 100%;
}
.md-macbook-pro .md-screen {
  width: 42.25em;
  height: 27em;
  margin: 0 auto;
  position: relative;
  top: 1em;
  // background: #1d1d1d;
  background: #fff;
  overflow: hidden;
}
.md-macbook-pro .md-screen img {
  width: 100%;
}
.md-macbook-pro .md-base {
  width: 100%;
  height: 1em;
  position: relative;
  top: -0.8em;
      background: rgba(222, 221, 221, 0.98);
    -webkit-box-shadow: inset 0px -4px 13px 3px rgba(34,34,34,0.6);
    -moz-box-shadow: inset 0px -4px 13px 3px rgba(34,34,34,0.6);
    box-shadow: inset 0px -4px 13px 3px rgba(34, 34, 34, 0.25);
    border-radius: 2px 2px 0px 0px;
}
.md-macbook-pro .md-base:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.8em;
  margin: 0 auto;
  position: relative;
  bottom: -0.1875em;
  background: #fff;
      border-bottom-left-radius: 90px 18px;
    border-bottom-right-radius: 90px 18px;
    background: rgba(190, 190, 190, 0.28);
    -webkit-box-shadow: inset 0 -4px 13px 3px rgba(78, 78, 78, 0.82);
    -moz-box-shadow: inset 0 -4px 13px 3px rgba(78, 78, 78, 0.82);
    box-shadow: inset 0 -4px 13px 3px rgba(78, 78, 78, 0.82);
}
.md-macbook-pro .md-base:before {
  content: "";
  display: block;
  width: 7.6875em;
  height: 0.625em;
  margin: 0 auto;
  position: relative;
      background: #BDBCBC;
    border-radius: 0 0 .625em .625em;
    -webkit-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
    -webkit-box-shadow: inset 0 -3px 10px rgb(130, 128, 128);
    -moz-box-shadow: inset 0 -3px 10px rgb(130, 128, 128);
    box-shadow: inset 0 -3px 10px rgb(130, 128, 128);
}
.md-macbook-pro.md-glare .md-lid:after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.25em 0 0;
  background: -webkit-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(53deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}

span.round-tab {
    width: 180px;
    height: 180px;
    line-height: 3.25;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid #eee;
    z-index: 9;
    left: 0;
    text-align: center;
    font-size: 60px;
    color: $gray-dark;
    -webkit-transition: color .5s ease-in; /*safari and chrome */
    -moz-transition: color .5s ease-in; /* firefox */
    -o-transition: color .5s ease-in; /* opera */
}

a span.round-tab:hover {
  color: $brand-success;
}

@media( max-width : 920px ) {

    span.round-tab {
        font-size: 40px;
        width: 110px;
        height: 110px;
        line-height: 3;
    }
}

@media( max-width : 767px ) {

    span.round-tab {
        font-size: 30px;
        width: 90px;
        height: 90px;
        line-height: 3;
    }
}

@media( max-width : 320px ) {

    span.round-tab {
        font-size: 30px;
        width: 90px;
        height: 90px;
        line-height: 3;
    }
}

.accordion-panel {
    text-align: center;
    display: block;
    text-decoration: none;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-left: none!important;
    border-right: none!important;
    border-top: none!important;
    box-shadow: none;
    border-radius: 10px;
    padding: 0px!important;
}

.accordion-title  {
    text-transform: uppercase;
    padding: .1em 0em 0em 0em!important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0!important;
    font-size: 1.2em;
    text-align: left;
}

.accordion-title>a:hover {
    text-decoration: none!important;
}

.accordion-content {
    margin: 0 1.5em .75em 1.5em;
    text-align: left!important;
}

.divider {
    border: 0;
    height: 1sepx;
    margin: 44px auto;
    background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    text-align: center;
    position: relative;
    clear: both;
}

.divider .fa, .divider .icons {
    text-align: center;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    color: #a9a9a9;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    width: 50px;
    font-size: 20px;
    margin: 0 auto 0 -25px;
    top: -25px;
    left: 50%;
    z-index: 1;
}

/* Tabs */
.tabs {
  border-radius: 4px;
  margin-bottom: 20px;
}

.nav-tabs {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.nav-tabs li {
  display: inline-block;
  float: none;
}

.nav-tabs li:last-child a {
  margin-right: 0;
}

.nav-tabs li a {
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  margin-right: 1px;
}

.nav-tabs li a, .nav-tabs li a:hover {
  background: #F4F4F4;
  border-bottom: none;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  color: #CCC;
}

.nav-tabs li a:hover {
  border-bottom-color: transparent;
  box-shadow: none;
}

.nav-tabs li a:active, .nav-tabs li a:focus {
  border-bottom: 0;
}

/* Right Aligned */
.nav-tabs.nav-right {
  text-align: right;
}

/* Bottom Tabs */
.tabs.tabs-bottom {
  margin: 0 0 20px 0;
  padding: 0;
}

.tabs.tabs-bottom .tab-content {
  border-radius: 4px 4px 0 0;
  border-bottom: 0;
  border-top: 1px solid #EEE;
}

.tabs.tabs-bottom .nav-tabs {
  border-bottom: none;
  border-top: 1px solid #EEE;
}

.tabs.tabs-bottom .nav-tabs li {
  margin-bottom: 0;
  margin-top: -1px;
}

.tabs.tabs-bottom .nav-tabs li:last-child a {
  margin-right: 0;
}

.tabs.tabs-bottom .nav-tabs li a {
  border-radius: 0 0 5px 5px;
  font-size: 14px;
  margin-right: 1px;
}

.tabs.tabs-bottom .nav-tabs li a, .tabs.tabs-bottom .nav-tabs li a:hover {
  border-bottom: 3px solid #EEE;
}

.tabs.tabs-bottom .nav-tabs li a:hover {
  border-bottom: 3px solid #CCC;
  border-top: 1px solid #EEE;
}

.tabs.tabs-bottom .nav-tabs li.active a,
.tabs.tabs-bottom .nav-tabs li.active a:hover,
.tabs.tabs-bottom .nav-tabs li.active a:focus {
  border-bottom: 3px solid #CCC;
  border-top-color: transparent;
}

/* Vertical */
.tabs-vertical {
  display: table;
  width: 100%;
  padding: 0;
  border-top: 1px solid #EEE;
}

.tabs-vertical .tab-content {
  display: table-cell;
  vertical-align: top;
}

.tabs-vertical .nav-tabs {
  border-bottom: none;
  display: table-cell;
  height: 100%;
  float: none;
  padding: 0;
  vertical-align: top;
}

.tabs-vertical .nav-tabs > li {
  display: block;
}

.tabs-vertical .nav-tabs > li a {
  border-radius: 0;
  display: block;
  padding-top: 10px;
}

.tabs-vertical .nav-tabs > li a, .tabs-vertical .nav-tabs > li a:hover, .tabs-vertical .nav-tabs > li a:focus {
  border-bottom: none;
  border-top: none;
}

.tabs-vertical .nav-tabs > li.active a,
.tabs-vertical .nav-tabs > li.active a:hover, .tabs-vertical .nav-tabs > li.active:focus {
  border-top: none;
}

/* Vertical - Left Side */
.tabs-left {
  padding: 0;
}

.tabs-left .tab-content {
  border-radius: 0 5px 5px 5px;
  border-left: none;
}

.tabs-left .nav-tabs > li {
  margin-right: -1px;
}

.tabs-left .nav-tabs > li:first-child a {
  border-radius: 5px 0 0 0;
}

.tabs-left .nav-tabs > li:last-child a {
  border-radius: 0 0 0 5px;
  border-bottom: 1px solid #eee;
}

.tabs-left .nav-tabs > li a {
  border-right: 1px solid #EEE;
  border-left: 3px solid #EEE;
  margin-right: 1px;
  margin-left: -3px;
}

.tabs-left .nav-tabs > li a:hover {
  border-left-color: #CCC;
}

.tabs-left .nav-tabs > li.active a,
.tabs-left .nav-tabs > li.active a:hover,
.tabs-left .nav-tabs > li.active a:focus {
  border-left: 3px solid #CCC;
  border-right-color: #FFF;
}

/* Vertical - Right Side */
.tabs-right {
  padding: 0;
}

.tabs-right .tab-content {
  border-radius: 5px 0 5px 5px;
  border-right: none;
}

.tabs-right .nav-tabs > li {
  margin-left: -1px;
}

.tabs-right .nav-tabs > li:first-child a {
  border-radius: 0 5px 0 0;
}

.tabs-right .nav-tabs > li:last-child a {
  border-radius: 0 0 5px 0;
  border-bottom: 1px solid #eee;
}

.tabs-right .nav-tabs > li a {
  border-right: 3px solid #EEE;
  border-left: 1px solid #EEE;
  margin-right: 1px;
  margin-left: 1px;
}

.tabs-right .nav-tabs > li a:hover {
  border-right-color: #CCC;
}

.tabs-right .nav-tabs > li.active a,
.tabs-right .nav-tabs > li.active a:hover,
.tabs-right .nav-tabs > li.active a:focus {
  border-right: 3px solid #CCC;
  border-left: 1px solid #FFF;
}

/* Justified */
.nav-tabs.nav-justified {
  padding: 0;
  margin-bottom: -1px;
}

.nav-tabs.nav-justified li {
  margin-bottom: 0;
}

.nav-tabs.nav-justified li:first-child a,
.nav-tabs.nav-justified li:first-child a:hover {
  border-radius: 5px 0 0 0;
}

.nav-tabs.nav-justified li:last-child a,
.nav-tabs.nav-justified li:last-child a:hover {
  border-radius: 0 5px 0 0;
}

.nav-tabs.nav-justified li a {
  border-bottom: 1px solid #DDD;
  border-radius: 0;
  margin-right: 0;
}

.nav-tabs.nav-justified li a:hover, .nav-tabs.nav-justified li a:focus {
  border-bottom: 1px solid #DDD;
}

.nav-tabs.nav-justified li.active a,
.nav-tabs.nav-justified li.active a:hover,
.nav-tabs.nav-justified li.active a:focus {
  background: #FFF;
  border-left-color: #EEE;
  border-right-color: #EEE;
  border-top-width: 3px;
}

.nav-tabs.nav-justified li.active a {
  border-bottom: 1px solid #FFF;
}

.nav-tabs.nav-justified li.active a, .nav-tabs.nav-justified li.active a:hover, .nav-tabs.nav-justified li.active a:focus {
  border-top-width: 3px;
}

.nav-tabs.nav-justified li.active a:hover {
  border-bottom: 1px solid #FFF;
}

/* Bottom Tabs with Justified Nav */
.tabs.tabs-bottom {
  padding: 0;
}

.tabs.tabs-bottom .nav.nav-tabs.nav-justified {
  border-top: none;
}

.tabs.tabs-bottom .nav.nav-tabs.nav-justified li a {
  margin-right: 0;
  border-top-color: transparent;
}

.tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a {
  border-radius: 0 0 0 5px;
}

.tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a {
  margin-right: 0;
  border-radius: 0 0 5px 0;
}

.tabs.tabs-bottom .nav.nav-tabs.nav-justified li.active a,
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li.active a:hover,
.tabs.tabs-bottom .nav.nav-tabs.nav-justified li.active a:focus {
  border-top-color: transparent;
}

/* Center */
.tabs-center .nav-tabs {
  margin: 0 auto;
  text-align: center;
}

/* Navigation */
.tabs-navigation {
  border-radius: 5px;
}

.tabs-navigation .nav-tabs > li {
  margin-bottom: 1px;
}

.tabs-navigation .nav-tabs > li a {
  color: #777;
  padding: 18px;
  line-height: 100%;
}

.tabs-navigation .nav-tabs > li a:before {
  font-family: FontAwesome;
  content: "\f054";
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
}

.tabs-navigation .nav-tabs > li a .fa, .tabs-navigation .nav-tabs > li a .icons {
  margin-right: 4px;
}

.tabs-navigation .nav-tabs > li:first-child a {
  border-radius: 5px 5px 0 0;
}

.tabs-navigation .nav-tabs > li.active a, .tabs-navigation .nav-tabs > li.active a:hover, .tabs-navigation .nav-tabs > li.active a:focus {
  border-right-color: #eee;
}

.tabs-navigation .nav-tabs > li:last-child a {
  border-radius: 0 0 5px 5px;
}

.tab-pane-navigation {
  display: none;
}

.tab-pane-navigation.active {
  display: block;
}

/* Simple */
.tabs.tabs-simple .nav-tabs {
  border: 0;
  margin-bottom: 10px;
}

.tabs.tabs-simple .nav-tabs > li {
  margin-left: 0;
  margin-bottom: 20px;
  float: none;
}

.tabs.tabs-simple .nav-tabs > li a, .tabs.tabs-simple .nav-tabs > li a:hover, .tabs.tabs-simple .nav-tabs > li a:focus {
  padding: 15px 30px;
  background: none;
  border: 0;
  border-bottom: 3px solid $gray-lightest;
  border-radius: 0;
  color: $gray;
  font-size: 18px;
}

.tabs.tabs-simple .nav-tabs>li a.active {
  border-bottom: 3px solid $brand-success!important;
}

.tabs.tabs-simple .tab-content {
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

/* Responsive */
@media (max-width: 479px) {
  .tabs .nav.nav-tabs.nav-justified li {
    display: block;
    margin-bottom: -5px;
  }

  .tabs .nav.nav-tabs.nav-justified li a {
    border-top-width: 3px !important;
    border-bottom-width: 0 !important;
  }

  .tabs .nav.nav-tabs.nav-justified li:first-child a, .tabs .nav.nav-tabs.nav-justified li:first-child a:hover {
    border-radius: 5px 5px 0 0;
  }

  .tabs .nav.nav-tabs.nav-justified li:last-child a, .tabs .nav.nav-tabs.nav-justified li:last-child a:hover {
    border-radius: 0;
  }

  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li {
    margin-bottom: 0;
    margin-top: -5px;
  }

  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li a {
    border-bottom-width: 3px !important;
    border-top-width: 0 !important;
  }

  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a, .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a:hover {
    border-radius: 0;
  }

  .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a, .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a:hover {
    border-radius: 0 0 5px 5px;
  }
}