/*
 * => GLOBAL ELEMENTS STYLES
 * ---------------------------------------------------------------------------*/

/*
 * => FONT VARS
 * ---------------------------------------------------------------------------*/
 // Declare your fonts in _fonts.scss


// Mixin for rem font size and fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * $font-size-base);
  font-size: $sizeValue + rem;
}

/*
 * => COLOR VARS & MIXINS
 * ---------------------------------------------------------------------------*/

/* Set the main site colors here. This will be used to auto-generate classes elsewhere. */
$mainColors: (
	'white': #ffffff,
	'orange':#ff6633,
	'green': #339933,   
	'blue':  #006699,       
	'gray':  #333333
);




// return color value from given key
@function color($key) {
  @if map-has-key($mainColors, $key) {
    @return map-get($mainColors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}


/*
 * => MEDIA BREAKPOINTS (in 'include-media' bower package)
 * ---------------------------------------------------------------------------*/

// How to use: http://include-media.com/#features

$breakpoints: (
  phone: 480px, 
  tablet: 767px, 
  tabletwide: 979px, 
  desktop: 1200px,
  ipadLandscape: 1024px,
  ipadPortrait: 768px
);
// usage: 
// @include media(">phone", "<=tablet") {
//  width: 50%;
// }

html {
  font-size: $font-size-base - 4;
  -ms-text-size-adjust: $font-size-base - 4;
  -webkit-text-size-adjust: auto;

  @include media('>phone') {
    font-size: $font-size-base - 2;
	  -ms-text-size-adjust: $font-size-base - 2;
  }
  @include media('>=ipadPortrait') {
    font-size: $font-size-base;
	  -ms-text-size-adjust: $font-size-base;
  }
}

a {}
p {}
hr {}

body {
	@include font-size(1); 
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	// font-family: $fontfamilyalt;
}

h1, .h1 { @include font-size(1.5); }
h2, .h2 { @include font-size(1.3); }
h3, .h3 { @include font-size(1.1); }
h4, .h4 { @include font-size(0.9); } 
h5, .h5 { @include font-size(0.7); }
h6, .h6 { @include font-size(0.5); }

@include media('>phone') {
	h1, .h1 { @include font-size(2);   } 
	h2, .h2 { @include font-size(1.8); }
	h3, .h3 { @include font-size(1.4); }
	h4, .h4 { @include font-size(1.2); }
	h5, .h5 { @include font-size(1);   }
	h6, .h6 { @include font-size(0.8); }
}

@include media('>ipadPortrait') {
	h1, .h1 { @include font-size(2.5); }
	h2, .h2 { @include font-size(2.1); }
	h3, .h3 { @include font-size(1.8); }
	h4, .h4 { @include font-size(1.5); }
	h5, .h5 { @include font-size(1);   }
	h6, .h6 { @include font-size(0.8); }
}