footer.social h1{ margin-bottom: 24px; }
footer.social a.text-white{ font-size: 18px; }
footer.social .social-icons{ margin: 64px 0px; }
footer.social .social-icons li{ margin-right: 40px; }
footer.social .social-icons li a{ font-size: 40px; opacity: 0.7;}
footer.social .social-icons li a:hover{ opacity: 1; }
footer.social .sub{ opacity: 0.5; color: #fff; font-size: 12px; }
footer.social .sub a{ color: #fff; font-weight: 600; }